<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<!-- Uncomment after Apple approves the Multicast Networking entitlement request
	<key>com.apple.developer.networking.multicast</key>
	<true/>
	-->
</dict>
</plist>
